#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 5
#define SCROLL 6

#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// マウスボタン（mkp）を押した時も、MOUSEレイヤー(5番)の維持時間を5秒にリセットする設定

&mkp_input_listener { input-processors = <&zip_temp_layer MOUSE 5000>; };

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&lt {
    quick-tap-ms = <300>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        bluetooth {
            bindings = <&mo 4>;
            key-positions = <27 40>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        scroll_up_down: mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };

        scroll_right_left: mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q    &kp W         &kp E         &kp R           &kp T                                                               &kp Y        &kp U  &kp I      &kp O      &lt 3 P
&kp A    &kp S         &kp D         &kp F           &kp G                                       &kp PRINTSCREEN         &kp H        &kp J  &kp K      &kp L      &kp PERIOD
&kp Z    &kp X         &kp C         &kp V           &kp B             &to_layer_0 LANGUAGE_2    &to_layer_0 LANGUAGE_1  &kp N        &kp M  &kp COMMA  &kp MINUS  &kp SLASH
&kp TAB  &kp LEFT_WIN  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &lt 2 SPACE               &kp BACKSPACE           &lt 1 ENTER                               &kp LBKT
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_1 {
            bindings = <
&kp EXCLAMATION   &kp QUESTION      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3                    &kp HOME        &kp UP_ARROW    &kp END          &kp RC(RS(TAB))     &kp RC(TAB)
&kp LS(NUMBER_8)  &kp LS(NUMBER_9)  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6            &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LG(LEFT_ARROW)  &kp LG(RIGHT_ARROW)
&kp LS(NUMBER_6)  &kp SQT           &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans    &trans  &kp PAGE_UP     &trans          &kp PAGE_DOWN    &kp LG(UP_ARROW)    &kp LG(DOWN_ARROW)
&kp LS(EQUAL)     &kp INT1          &kp NUMBER_0  &trans        &trans        &trans    &trans  &trans                                                               &trans
            >;

            sensor-bindings = <&scroll_right_left>;
        };

        layer_2 {
            bindings = <
&kp F1   &kp F2   &kp F3   &kp F4   &kp F5                      &trans  &trans  &trans  &trans  &trans
&kp F6   &kp F7   &kp F8   &kp F9   &kp F10             &trans  &trans  &trans  &trans  &trans  &trans
&kp F11  &kp F12  &kp F13  &kp F14  &kp F15  &kp F16    &trans  &trans  &trans  &trans  &trans  &trans
&trans   &trans   &trans   &trans   &trans   &trans     &trans  &trans                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        SCROLL_1 {
            bindings = <
&trans  &trans              &kp LC(LS(TAB))         &kp LC(TAB)              &trans                                     &kp HOME        &kp UP_ARROW    &kp END          &trans  &trans
&trans  &kp LG(LEFT_ARROW)  &kp LG(RIGHT_ARROW)     &kp LC(LG(LEFT_ARROW))   &kp LC(LG(RIGHT_ARROW))            &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &trans              &kp LG(LS(LEFT_ARROW))  &kp LG(LS(RIGHT_ARROW))  &trans                   &trans    &trans  &kp PAGE_UP     &trans          &kp PG_DN        &trans  &trans
&trans  &trans              &trans                  &trans                   &trans                   &trans    &trans  &trans                                                   &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        BLUETOOTH {
            bindings = <
&bt BT_CLR_ALL  &trans  &trans  &trans  &bt BT_CLR                    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans          &trans  &trans  &trans  &trans                &trans  &trans        &trans        &trans        &trans        &trans
&trans          &trans  &trans  &trans  &trans      &trans    &trans  &trans        &trans        &trans        &trans        &trans
&bootloader     &trans  &trans  &trans  &trans      &trans    &trans  &trans                                                  &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans    &trans    &trans                    &trans  &trans    &trans    &trans    &trans
&trans  &trans  &mkp MB4  &mkp MB5  &trans            &trans  &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans
&trans  &trans  &trans    &trans    &trans  &trans    &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans    &trans    &trans  &trans    &trans  &trans                                &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        SCROLL_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };
    };
};
