#include "mona2.dtsi"

/ {
    chosen {
        zmk,battery = &vbatt;
    };

    vbatt: battery_divider {
        compatible = "zmk,battery-voltage-divider";
        label = "BATTERY";
        /* ADC全体を参照 */
        io-channels = <&adc 7>; 
        /* 2. バッテリーの表示100%調整用計算式 */
        full-ohms = <1880000>;
        output-ohms = <1000000>;
    };
};

&kscan0 {
        col-gpios
            = <&xiao_d 10 GPIO_ACTIVE_HIGH>
            , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
            , <&gpio0 10 GPIO_ACTIVE_HIGH>
            , <&gpio0 9 GPIO_ACTIVE_HIGH>
            ;
};

&left_encoder {
    status = "okay";
};
